.App {
  background-color: black;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.divider {
  height: 3px;
  background-color: wheat;
  margin: 50px 0 70px;
}

.title {
  color: wheat;
  margin: 20px 0;
}
