.App {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 3px;
  background-color: wheat;
  margin: 50px 0 70px;
}

.title {
  color: wheat;
  margin: 20px 0;
}
