p {
  padding: 20px 18px;
  margin: 5px 15px;
  color: #000;
  background-color: wheat;
  min-width: 300px;
}

.search-results {
  width: 100%;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  margin: 0.5em;
  padding: 0rem 2rem 0rem 2rem;
}
