.search {
  color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.searchCenter {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.searchTop {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: start;
}
